.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}
.toolbar__left {
  width: 500px;
  display: flex;
}
.toolbar__right {
  margin-right: 20px;
}
.toolbar__header {
  margin: 0 20px 0 20px;
  font-size: 24px;
  padding-bottom: 4px;
}
