.file__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.file__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  width: 350px;
  height: 320px;
  padding: 40px;
}
.file__logo {
  margin: 40px 0 40px 0;
}
.file__guide {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.file__button {
  width: 100%;
  height: 54px;
  padding-left: 30px;
  margin: 10px 0;
}
.file__buttonIcon {
  position: absolute;
  left: 110px;
}
.button {
  background-color: #d41b2c;
  text-align: center;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}
.button:hover {
  outline: none;
  color: #f7f7f7;
  background-color: #a71523;
  border-color: #9e1421;
}
.file__blackBottom {
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 0px;
  background-color: black;
}
